.faqs{
    margin-top: 138px;
    /* display: inline; */
    text-align: center;
}

.heading_box{
    padding-top: 8rem;
    padding-bottom: 3rem;
    font-size: large;
    color: rgb(42, 124, 111);
    line-height: 3rem;
}

.que_heading{
    font-size: 40px;
}

.boxes{
    color: rgb(42, 124, 111);
    /* display: inline; */
    text-align: left;
    margin: 5rem auto;
    margin-left: 10rem;
    line-height: 3rem;
}

.que{
    font-size: 25px;
    padding-right: 25rem;
}    

.ans{
    font-size:large;
    padding-right: 25rem;
}