.wraper{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin-top: 25px;
    padding-top: 6rem;
    /* position: fixed; */
    background-color: rgb(255, 255, 255);
    /* background: url("./background.jpg") no-repeat; */
    background-size: cover;
    background-position: center;
    
}
.wraper .profile{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.reg-form{
   width: 500px; 
   background: transparent;
   border: 2px solid rgb(7, 150, 29);
   color: grey;
   margin-top: 25px;
   margin-bottom: 20px;
   border-radius: 25px;
   padding: 30px 40px;
   backdrop-filter: blur(40px);
   box-shadow: 5px 10px 18px #888888;
}
.reg-form h1{
    font-size: 36px;
    text-align: center;
    color: black;
    font-family: "montserrat";
}
.reg-form .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid green;
    border-radius: 40px;
    font-size: 16px;
    color:black;
    padding: 20px 45px 20px 25px;
}
.input-box input::placeholder{
    color: grey
}
.input-box .register-icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
}
.wraper .remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 15px;
}
.remember-forgot label input {
    accent-color: black;
    margin-right: 4px;
    /* font-size: 3rem;
    zoom: 1.5; */
  }
  .remember-forgot a{
 color:black;
 text-decoration: none;
 font-weight: 600;
  }
  .remember-forgot a:hover{
text-decoration: underline;
color: yellow;
transition: 0.2s ease-in-out;
  }
  .wraper .submit-button{
    width: 100%;
    height: 45px;
    background: white;
    margin-top: 15px;
    color: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-sizing: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
  }
  .wraper .submit-button{
    background: linear-gradient(to right, green, white);
    color: black;

  }
  
  .login-link {
font-size: 14px;
margin: 20px 0 15px;
display: flex;
justify-content: center;
  }
  .login-link a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-top: -2px;
    margin-left: 10px;
    font-size: 1.02rem;
  }
  .login-link a{
    text-decoration: underline;
    color:green;
  }